.login-regis{
  width: 100vw;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-tab{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    /* background-color: blueviolet; */
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 50%;
}

/* Style the buttons inside the tab */
.tab .tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab .tablinks.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.active {
  display: block;
}

.tabcontent .form-group input{
  width: 100%;
  margin: 10px 0px;
}

.form-group:nth-child(4){
  text-align: center;
}

.btn-submit{
  padding: 10px;
}

.form-group:nth-child(3){
  text-align: right;
}
